.App {
  height: 100%;
  text-align: center;
  background-color: #AFD4C0;
}

.Header {
  height: 10vh;
  font-size: 7vh;
  color: white;
  background-color: #519872; 
}

.Dashboard {
  height: 90vh;
  width: 750px;
  color: #3B5249;
  font-size: 25px;
  display: inline-block;
  background-color: #E5F4EC;
}

.Dashboardlink {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

.Housedisplay {
  width: 95%;
  display: inline-block;
  margin-top: 10px;
  background-color: #DEDEDE;
  font-size: 15px;
}

.Stepone {
  height: 100vh;
  width: 750px;
  background-color: #E5F4EC;
  display: inline-block;
}

.Steptwo {
  height: 100vh;
  width: 750px;
  background-color: #E5F4EC;
  display: inline-block;
}

.Stepthree {
  height: 100vh;
  width: 750px;
  background-color: #E5F4EC;
  display: inline-block;
}

h4{
  margin: 0;
}
